<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/nav') %>

    <div class="main">
      <img class="todo-img" src="/to-do-list.png" alt="" />
      <form action="/todos" id="form" method="POST">
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Add a new todo"
          alt="add"
          required
        />
        <input
          type="submit"
          class="btn add"
          value="&#65291;"
          alt="add button"
        />
      </form>

      <h3 class="stuff-to-do">Stuff to do &#11183;</h3>

      <div class="todo-container">
        <% if (todos.length > 0) { %> <% todos.forEach(todo => { %>
        <h3 href="/todos/<%= todo._id %>">
          <p class="todo-title"><%= todo.title %></p>
        </h3>
        <a class="btn delete" data-doc="<%= todo._id %>" alt="delete icon"
          >&#128465;</a
        >
        <% }) %> <% } else { %>
        <p>There's nothing to show</p>
        <% } %>
      </div>
    </div>

    <%- include('./partials/footer') %>

    <script>
      const trashcans = document.querySelectorAll('.btn.delete');

      trashcans.forEach(trashcan => {
        trashcan.addEventListener('click', e => {
          const endpoint = `/todos/${trashcan.dataset.doc}`;

          fetch(endpoint, {
            method: 'DELETE',
          })
            .then(response => response.json())
            .then(data => (window.location.href = data.redirect))
            .catch(err => console.log(err));
        });
      });
    </script>
  </body>
</html>
